body{
    background-image: url("images/background5.jpg");
    background-position: right;
    background-size: 120%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#logo img{
    width: 3%;
    position: absolute;
    top: 1.5em;
    left: 2%;
    
}

#topNav {
    font-family: 'Questrial', sans-serif;
    position: relative;
    left: 6%;
    padding-top: 1em;
}

#topNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto; 
}
  
#topNav ul li {
    float: left;
}
  
#topNav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
#topNav ul li a:hover {
    background-color: #111;
    border-radius: 5%;
}

container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#profile {
    position: relative;
    width: 30%;
    left: 45%;
    
    
}

#profile img{
    width: 30%;
    border-radius: 100%;
    
}



#aboutme {
    position: relative;
    top: 16%;
    left: 27%;
    width: 45%;

}

#aboutme h2{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    text-align: left;
}

#aboutme h2::after {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
    top: 10px;
  }

#aboutme p{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    line-height: 20px;
}


#education {
    position: relative;
    top: 38%;
    left: 27%;
    width: 45%;
}

#education h2{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    text-align: left;
}

#education h2::after {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
    top: 10px;
  }

#education1 li:not(:first-child):not(:nth-last-child(2)){
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    padding-left: 5%;
    list-style: none;
    text-align: left;
    line-height: 150%;
    
}

#education1 li:not(:first-child):not(:nth-last-child(2)):before{
    content: "\2022";
    color: #ffffff;
    display: inline-block;
    width: 1em;
    text-align: left;
}

#education1 li:first-child, #education1 li:nth-last-child(2){
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    list-style: none;
    line-height: 150%;
    position: relative;
    left: -6%;
}




#skills {
    position: relative;
    top: 60%;
    left: 27%;
    width: 45%;
    line-height: 20px;
}

#skills h2{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    text-align: left;
}

#skills h2::after {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: relative;
    top: 10px;
  }

#skills1 li{
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    text-align: justify;
    position: relative;
    left: -3%;
}







footer {
	width: 50%;
    position: relative;
    bottom: 0;
    left: 26%;
}

footer ul{
	display: flex;
}

footer ul li{
	flex: auto;
    list-style-type: none;
}

footer ul li a{
    font-family: 'Questrial', sans-serif;
	color: #dddddd;
	text-decoration: none;
	font-size: 14px;
}

footer ul li a:hover{
	color: #9e9e9e;
}

footer nav ul li img{
    width: 20px;
    height: 20px;
}


@media (max-width:768px){
	footer ul {
		display: inline-block;
        position: fixed;
        width: 20%;
        bottom: 0;
        right:18em;
	}
}